{% extends 'pocos_app/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h2>Parâmetros para Geração de Dados</h2>
            </div>
            <div class="card-body">
                <form method="post" action="{% url 'gerar_tabela' %}">
                    {% csrf_token %}
                    
                    <div class="row mb-4">
                        <div class="col-md-6">
                            <h4>Parâmetros Gerais</h4>
                            <div class="form-group">
                                <label for="{{ form.ano_inicio.id_for_label }}">{{ form.ano_inicio.label }}</label>
                                {{ form.ano_inicio.errors }}
                                <input type="number" name="{{ form.ano_inicio.html_name }}" id="{{ form.ano_inicio.id_for_label }}" 
                                       class="form-control" value="{{ form.ano_inicio.value|default:2023 }}">
                            </div>
                            
                            <div class="form-group">
                                <label for="{{ form.ano_fim.id_for_label }}">{{ form.ano_fim.label }}</label>
                                {{ form.ano_fim.errors }}
                                <input type="number" name="{{ form.ano_fim.html_name }}" id="{{ form.ano_fim.id_for_label }}" 
                                       class="form-control" value="{{ form.ano_fim.value|default:2024 }}">
                            </div>
                            
                            <div class="form-group">
                                <label for="{{ form.horimetro_inicial.id_for_label }}">{{ form.horimetro_inicial.label }}</label>
                                {{ form.horimetro_inicial.errors }}
                                <input type="number" step="0.001" name="{{ form.horimetro_inicial.html_name }}" id="{{ form.horimetro_inicial.id_for_label }}" 
                                       class="form-control" value="{{ form.horimetro_inicial.value|default:0 }}">
                            </div>
                            
                            <div class="form-group">
                                <label for="{{ form.horimetro_final.id_for_label }}">{{ form.horimetro_final.label }}</label>
                                {{ form.horimetro_final.errors }}
                                <input type="number" step="0.001" name="{{ form.horimetro_final.html_name }}" id="{{ form.horimetro_final.id_for_label }}" 
                                       class="form-control" value="{{ form.horimetro_final.value|default:50 }}">
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <h4>&nbsp;</h4>
                            <div class="form-group">
                                <label for="{{ form.hidrometro_inicial.id_for_label }}">{{ form.hidrometro_inicial.label }}</label>
                                {{ form.hidrometro_inicial.errors }}
                                <input type="number" step="0.001" name="{{ form.hidrometro_inicial.html_name }}" id="{{ form.hidrometro_inicial.id_for_label }}" 
                                       class="form-control" value="{{ form.hidrometro_inicial.value|default:0 }}">
                            </div>
                            
                            <div class="form-group">
                                <label for="{{ form.hidrometro_final.id_for_label }}">{{ form.hidrometro_final.label }}</label>
                                {{ form.hidrometro_final.errors }}
                                <input type="number" step="0.001" name="{{ form.hidrometro_final.html_name }}" id="{{ form.hidrometro_final.id_for_label }}" 
                                       class="form-control" value="{{ form.hidrometro_final.value|default:50 }}">
                            </div>
                            
                            <div class="form-group">
                                <label for="{{ form.max_horimetro_diario.id_for_label }}">{{ form.max_horimetro_diario.label }}</label>
                                {{ form.max_horimetro_diario.errors }}
                                <input type="number" step="0.001" name="{{ form.max_horimetro_diario.html_name }}" id="{{ form.max_horimetro_diario.id_for_label }}" 
                                       class="form-control" value="{{ form.max_horimetro_diario.value|default:0.5 }}">
                            </div>
                            
                            <div class="form-group">
                                <label for="{{ form.max_hidrometro_diario.id_for_label }}">{{ form.max_hidrometro_diario.label }}</label>
                                {{ form.max_hidrometro_diario.errors }}
                                <input type="number" step="0.001" name="{{ form.max_hidrometro_diario.html_name }}" id="{{ form.max_hidrometro_diario.id_for_label }}" 
                                       class="form-control" value="{{ form.max_hidrometro_diario.value|default:0.5 }}">
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-primary btn-lg">Gerar Tabela</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
